@model WillPower.Models.GoalItemDetail

@{
    ViewBag.Title = "Details";
}

<div class="div1">
    <h2>Details</h2>
</div>

<div class="dad">


    <div class="div7">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GoalItemID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GoalItemID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GoalItemName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GoalItemName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GoalItemPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GoalItemPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GoalItemLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GoalItemLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HowMuchCloserToGoal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HowMuchCloserToGoal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedUTC)
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.CreatedUTC)*@
                @Model.CreatedUTC.ToString("d")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUTC)
            </dt>

            <dd>
                @if (Model.ModifiedUTC.HasValue)
                {
                    @Model.ModifiedUTC.Value.ToString("d")
                }
            </dd>

        </dl>
    </div>

    <div class="div8">

        <div class="div9">
            <p>@Html.ActionLink("Edit", "Edit", new { id = Model.GoalItemID })</p>
        </div>

        <div class="div10">
            <p>@Html.ActionLink("Delete", "Delete", new { id = Model.GoalItemID })</p>
        </div>

        <div class="div11">
            <p>@Html.ActionLink("Back to List", "Index")</p>
        </div>

    </div>

</div>