@model IEnumerable<WillPower.Models.GoalItemListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Wish List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="examplething">

        <th>
            @Html.DisplayNameFor(model => model.GoalItemName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GoalItemPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HowMuchCloserToGoal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.GoalItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalItemPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HowMuchCloserToGoal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.GoalItemID }) |
                @Html.ActionLink("Details", "Details", new { id=item.GoalItemID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.GoalItemID })
            </td>
        </tr>
    }

</table>


<div class="total">
    <h4>Total Saved </h4>
    @ViewBag.TotalSaved

</div>