@model WillPower.Models.MonthlyFinanceCreate

@{
    ViewBag.Title = "Create";
}

    <div class="div1">
        <h2>+ New</h2>
    </div>


<div class="div17">

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>MonthlyFinanceCreate</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @*@Html.LabelFor(model => model.Month, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EnumDropDownListFor(x => x.Month, " ", new { @class = "form-control dropdown", placeholder = "Month" })
                @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", placeholder = "Year" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.MonthlyTakeHome, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.MonthlyTakeHome, new { htmlAttributes = new { @class = "form-control", placeholder = "Monthly Take Home" } })
                @Html.ValidationMessageFor(model => model.MonthlyTakeHome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.CostOfBills, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.EditorFor(model => model.CostOfBills, new { htmlAttributes = new { @class = "form-control", placeholder = "Cost of Bills" } })
                @Html.ValidationMessageFor(model => model.CostOfBills, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.GoalItemID, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
                @Html.DropDownList("GoalItemID", new SelectList(ViewBag.GoalItem, "GoalItemID", "GoalItemName"), null, new { @class = "form-control dropdown", placeholder = "Goal Item" })
                @Html.ValidationMessageFor(model => model.GoalItemID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

        @*make this a back to list button*@
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>*@

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

</div>