@model WillPower.Models.NoBuyDetail

@{
    ViewBag.Title = "Details";
}

<div class="div1">
    <h2>Details</h2>
</div>

<div class="dad">

    <div class="div7">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ItemID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ItemName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ItemPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ItemLocation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ItemLocation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GoalItemID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GoalItemID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedUTC)
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.CreatedUTC.ToString("d"))*@
                @Model.CreatedUTC.ToString("d")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUTC)
            </dt>

            <dd>
                @if (Model.ModifiedUTC.HasValue)
                {
                    @Model.ModifiedUTC.Value.ToString("d")
                }
            </dd>

        </dl>
    </div>

    <div class="div8">

        <div class="div9">
            <p>@Html.ActionLink("Edit", "Edit", new { id = Model.ItemID })</p>
        </div>

        <div class="div10">
            <p>@Html.ActionLink("Delete", "Delete", new { id = Model.ItemID })</p>
        </div>

        <div class="div11">
            <p>@Html.ActionLink("Back to List", "Index")</p>
        </div>

    </div>

</div>