@model IEnumerable<WillPower.Models.NoBuyListItem>

@{
    ViewBag.Title = "Index";
}

<div class="div1">
    <h2>Unwish List</h2>
</div>

<div class="mom">

    <div class="div2">
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th class="col-sm-2" scope="col">
                        @Html.DisplayNameFor(model => model.ItemName)
                    </th>
                    <th class="col-sm-2" scope="col">
                        @Html.DisplayNameFor(model => model.ItemPrice)
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tbody>
                    <tr onclick="location.href = '@Url.Action("Details", "NoBuy", new { id = item.ItemID })'">
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td scope="row">
                            @Html.DisplayFor(modelItem => item.ItemPrice)
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>

    <div class="div3">

        <div class="div4">
            <div class="total">
                <h5>Total Saved</h5>
                @ViewBag.TotalSaved
            </div>
        </div>

        <div class="div5">
            <a href="https://localhost:44377/NoBuy/Create">
                <h5>+ New</h5>
            </a>
        </div>

        <div class="div6">
            <a href="https://localhost:44377/GoalItem">
                <h5>Wish List</h5>
            </a>
        </div>

    </div>

</div>